.main{
  background-color: lemonchiffon;
}
.text{
  text-align: center;
}
.home-list{
  background-color: #ffffff;
}
.plan{
  text-align: center;
}
.plan-list{
  display: flex;
  justify-content: space-around;
}
.left-header{
  background-color: limegreen;
  text-align: center;
  border: solid black 1px;
  border-radius: 6px;
}  
.plan-free{
  text-align: center;
  background-color: #ffffff;
  border: solid black 1px;
  padding: 50px;
  border-radius: 6px;
}
.center-header{
  background-color: khaki;
  text-align: center;
  border: solid black 1px;
  border-radius: 6px;
}
.plan-normal{
  text-align: center;
  background-color: #ffffff;
  border: solid black 1px;
  padding: 50px;
  border-radius: 6px;
}
.light-header{
  background-color: khaki;
  text-align: center;
  border: solid black 1px;
  border-radius: 6px;
}
.plan-light{
  text-align: center;
  background-color: #ffffff;
  border: solid black 1px;
  padding: 50px;
  border-radius: 6px;
}
.support{
  text-align: center;
}
.risk{
  text-align: center;
}
.statistics{
  text-align: center;
}