<footer class='page-footer'>
 <div class='top-footer'>
  <div class='information'>
   <a href="tel:09012345678"><img src="tel.png"></a>
    <div class="business-hours">
     <p>営業時間 : 10:00 ~ 20:00<br>
        /定休日 : 水曜日 (GW・お盆・正月)</p>
    </div>
  </div>
   <div class='form'>
    <p>お問い合わせ</p>
   </div>
 </div>
 <div class='under-footer'>
  <ul class='list-footer'>
  <li>お問い合わせ</li>
  <li>会社概要</li>
  <li>スタッフ紹介</li>
  <li>個人情報保護方針</li>
  </ul>
 </div>
</footer>