<header class='page-header'>
 <div class='top-header'>
  <div class='name'>
   <h2>さぬき空き家サポート</h2>
  </div>
  <div class='information'>
   <a href="tel:09012345678"><img src="tel.png"></a>
    <div class="business-hours">
     <p>営業時間 : 10:00 ~ 20:00<br>
        /定休日 : 水曜日 (GW・お盆・正月)</p>
    </div>
  </div>
 </div>
  <div class='top-list'>
   <ul class="list">
    <li>西讃</li>
    <li>中讃</li>
    <li>高松市</li>
    <li>東讃</li>
    <li>島</li>
   </ul>
  </div>
</header>
