<header class='page-header'>
 <div class='top-header'>
  <div class='name'>
   <h2>さぬき空き家サポート</h2>
  </div>
  <div class='information'>
   <a class='tel' href="tel:09012345678"><p class='tel2'>09012345678</p></a>
    <div class="business-hours">
     <p>営業時間 : 10:00 ~ 20:00<br>
        /定休日 : 水曜日 (GW・お盆・正月)
        近隣対策</p>
    </div>
  </div>
 </div>
</header>
