<%= render "shared/header" %>
<div class='main'>
  <div class='text'>
  <h2>空き家の管理についてこのようなお悩みありませんか？</h2>
   <p>定期的な管理ができない</p>
   <p>所在地が遠くて行けない</p>
   <p>売却までにはもう少し時間がかかる</p>
  </div>
  <div class='home-list'>
    <div class='plan'>
      <h2>プラン一覧</h2>
    </div>
    <div class='plan-list'>
      <div class='free-contents'>
        <div class='left-header'>
          <h3>フリープラン</h3>
          </div>
         <div class='plan-free'>
           <p>管理費  無料</p>
           <p>苦情対応</p>
           <p>月一回のパトロール</p>
           <p>看板の設置</p>
           <p>当社専任契約締結</p>
         </div>
         </div>
        <div class='center-contents'>
        <div class='center-header'>
          <h3>ノーマルプラン</h3>
        </div>
        <div class='plan-normal'>
          <p>月額1500円コース</p>
          <p>看板設置</p>
          <p>苦情対応</p>
        </div>
        </div>
        <div class='light-contents'>
        <div class='light-header'>
        <h3>スタンダードプラン</h3>
        </div>
        <div class='plan-light'>
          <p>月額5000円コース</p>
          <p>月2回のパトロール</p>
          <p>月1回の風通し</p>
          <p>月1回の写真動画撮影</p>
        </div>
        </div>
        </div>
  </div>
  <div class='support'>
    <h2>香川県内・空き家監視中</h2>

  </div>
  <div class='risk'>
    <h2>空き家放置のリスク</h2>
      <p>固定資産税の支払い</p>
      <p>雑草による家屋の痛み  雑草による湿気とシロアリ被害  雑草による害虫発生</p>
      <p>火災</p>
      <p>台風  近隣住宅や通行人の二次被害</p>
      <p>解体費用</p>
      <p>不法侵入</p>
      <p>雨漏り</p>
      <p>シロアリ被害</p>
  </div>
  <div class='statistics'>
    <p>空き家物件は右肩上がりに増加・2033には、全世帯の内3件に1件は空き家になる推測が発表されています。<br>
    (野村総合研究所：『総務省統計局平成30年住宅・土地統計調査』)</p>
  </div>

  <div class='text2'>
    <h3>国定資産税の支払い</h3>
    <p>「空き家」でも<b>所有していれば固定資産税と都市計画税の2つの税金が課せられます。</b>
    固定資産税とは毎年1月1日に、土地、家屋など(固定資産)を所有している人に課せられる税金で、
    都市開発税は、毎年1月1日に、市街化区域内にある土地と家屋を所有している人に課せられる税金です。
    また、空き家を相続した場合には相続税が、空き家を売却した際に得た譲渡所得には所得税が課せられます。</p>
  </div>
  <div class='text3'>
    <h3>固定資産税が6倍になる「特定空き家」</h3>
    <p>「特定空き家」とは、「そのまま放置すれば倒壊等著しく保安上危険となるおそれのある状態又は著しく衛生上有害となるおそれのある状態、
    適切な管理が行われていないことにより著しく景観を損なっている状態、
    その他周辺の生活環境の保全を図るために放置することが不適切である状態にあると認められる空家等をいう」と、
    空家等対策の推進に関する特別措置法に定義されています。</p>
  </div>
  <div class='text4'>
  <h3>雑草による家屋の痛み  雑草による湿気とシロアリ被害</h3>
  <p>空き家の管理ができないまま放置すると雑草と庭木が生えるようになります。
  この雑草が害虫の発生原因となり、建物に湿気がこもる要因にもなりシロアリの発生につながっていきます。
  雑草や枝が家屋に触れるようになるとそこから建物の劣化にダイレクトに影響を及ぼすようにもなります。</p>
  </div>
  <div class='text5'>
  <h3>台風  近隣住宅や通行人への二次被害</h3>
  <p>空き家の劣化が進行し、家屋の倒壊、台風による瓦礫の飛散などで
  通行人にけがなどをさせてしまった場合には、損害賠償責任を負わなければならなくなる可能性も出てきます。
  近隣の建物への損傷なども同様です。</p>
  </div>
  <div class='text6'>
  <h3>不法侵入  火災</h3>
  <p>空き家となった家を管理せず、放置すると、建物の劣化に加え、雑草や手入れのされていない庭木がはびこり、
  明らかに人が住んでいないと一目でわかることになります。
  割れ窓理論(窓ガラスを割れたままにしておくと、その建物は十分に管理されていないと思われ、ごみが捨てられ、
  やがて地域の環境が悪化し、凶悪な犯罪が多発するようになる)という犯罪理論もあるように、空き家の放置は、不法投棄や放火、
  不法侵入や不法滞在を招きやすくなってしまいます。</p>
  </div>
  <div class='text7'>
  <h3>雨漏り・建物劣化</h3>
  <p>人が利用しない建物は換気の頻度が低くなるため、劣化のスピードが速まります。劣化を進めないためには、
  空き家の換気などを定期的に行う手間が必要になります。</p>
  </div>
  <div class='text8'>
  <h3>解体費用</h3>
  <p>空き家管理に手間と予算をかけても将来的な見込みがないと判断する場合には
  「解体して更地にする」「売却する」という選択肢になってくると思います。
  解体費用の無料見積もり、売却査定も行っていますのでお気軽にお問い合わせください。</p>
  </div>


</div>
<%= render "shared/footer" %>